*{
    padding: 0;
    margin: 0;
    
}
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@400;900&display=swap');
*{
    font-family: 'Lato', sans-serif;
}
/* navbar responsive  */
@media screen and (max-width:1000px) {
    .toggle-btn {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        float: right;
        padding-right: 30px;
        padding-top: 10px;
        cursor: pointer;
    }
    
    .bar {
  
        width: 30px;
        height: 3px;
        background-color: #333;
        margin: 4px 0;
        transition: 0.4s;
    }
    
    /* Styles for the opened menu */
    .menu {
        display: none;
        /* Additional styling for your open menu */
    }
    .navbar-section{
        background-color: rgb(244, 244, 244);
    }
    nav{
        display: none;
        width: 100%;
        height: auto;
        padding: 20px;
    }
  
    .navbar{
        
        flex-direction: column;
    }
    .navbar ul{
        
        flex-direction: column;
        color: #040202;
        cursor: pointer;
    }
    .login-btn ul li{
    
        margin-left:-35px;
        margin-top: 20px;
        flex-direction: column;
        cursor: pointer;
    }
}
body{
    overflow-x: hidden;
}
/* navbar responsive end */
nav{
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 10px;
    width: 85%;
    margin: auto;
}
.navbar{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-between;
}
.nav-list ul{
    display: flex;
    list-style: none;  
    gap: 60px;
}
.nav-list ul a{
    color: #040202;
text-decoration: none;
}
.nav-list ul li {
    font-weight: 600;
    color: #5a5a5a;
    cursor: pointer;
}
.login-btn ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.login-btn li {
    font-weight: 600;
    margin-right: 10px; 
    font-weight: 600;
    cursor: pointer;
}
 .started-btn{
    background-color: #5f36d5;
    padding: 8px;
    text-align: center;
    width: 120px;
    font-weight: 550;
    font-size: 15px;
    border-radius: 5px;
    color: #fff;
}


/* section one start  */
.section-one{
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    gap: 2%;

}
.btn-one button{
    background-color: #5f36d5;
    border: none;
    padding: 12px;
    color: #fff;
    border-radius: 5px;
    width: 150px;
    font-size: 15px;
    margin-top: 2px;
    cursor: pointer;
}
.btn-one{
    margin-top: 8%;
    display: flex;
    align-items: center;
    gap: 4%;
    align-self: center;
}
.btn-one h3{
    font-size: 16px;
    color: rgb(209, 209, 209);
  
}
.section-one-left h1 span{
    display: none;
}
.section-one-left{
    width: 25%;
}
.section-one-left h1{
    color: #302f33;
    font-size: 40px;
    font-weight: 600;
}
.section-one-left p{
    width: 100%;
    margin-top: 5%;
    line-height: 20px;
    margin-bottom: 5%;
    font-size: 16px;
    font-weight: 400;

}
.section-one-right{
    width:40%;
}
@media screen and (max-width: 1000px) {
    .section-one{
        display: block;
    }
   .section-one .section-one-left{
        width: 90%;
        justify-content: center;
        margin: 2% auto;
        align-items: center;
    } 
    .section-one .section-one-left h1{
        font-size: 30px;
        font-weight: 500;
        
    }
     #h2{
        display: none;
    }
    .section-one .section-one-left p{
        width: 100%;
        font-size: 15px;
    }
    .section-one-right{
        width: 100%;
    }
    .section-one-right img{
        width: 400px;
        margin: auto;
        display: block;
    }
    
  
}


/* section one end  */


/* second section start  */
.second-section h2{
    text-align: center;
    font-size: 15px;
    color: #5f36d5;
    margin-bottom: 40px;
}
.second-section {
    text-align: center;
}

.carousel {
    overflow: hidden;
    width: 70%;
    position: relative;
    margin: auto;

}

.carousel-inner {
    display: flex;
    animation: scrollImages 5s linear infinite;
   
    justify-content: center;

}
.carousel-inner-sec{
    display: flex;
    animation: scrollImage 7s linear infinite;
   
    justify-content: center;

}

.carousel-inner-sec img {
    margin-left: 100px; 
}


.carousel-inner img {
width: auto;
margin-left: 100px; 
}


@keyframes scrollImages {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
   
   
}
@keyframes scrollImage {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
   
   
}

/* second section end  */

/* third section start  */
.third-section{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: 2% auto;
    gap: 10% ;
}
.third-left{
    width: 40%;
}
.third-left p{
    line-height: 30px;
    margin-top: 3%;
}
.third-left h1{
    color: #302f33;
    font-size: 40px;
}
.third-left h4{
    color: #5f36d5;
    margin-top: 3%;
}
.third-right{
    width: 40%;
}

/* responsivenes  */
@media screen and (max-width:1000px) {
    .third-section{
        display: block;
    }
    .third-section .third-left{
        width: 100%;
    }
    .third-section .third-right img{
        width: 300px;
    }
}
/* third section end  */

/* fourth section start  */
.fourth-section{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin: 2% auto;
    gap: 10%;
}
.fourth-left{
    width: 40%;   
}
.fourth-left h4{
color: #5f36d5;
font-size: 20px;
font-weight: 300;
}
.fourth-left h2{
    color: #302f33;
    margin-top: 4%;
    font-size: 30px;
    font-weight: 600;
    }
    .fourth-left p{
        margin-top: 4%;
        font-weight: 300;
    }
    .fourth-left h3{
        margin-top: 4%;
        color: #5f36d5;
    }
.fourth-right{
    width: 40%;
}

/* responsivenes  */
@media screen and (max-width:1000px) {
  
    .fourth-section{
        display: block;
    }
    .fourth-section .fourth-left{
        margin-top: 5%;
        width: 100%;
        align-items: center;
    }
    .fourth-section .fourth-right img{
        width: 400px;
  
    }
    .fourth-left h4 , h2 ,h3 {
        text-align: center;
    }
 
    .fourth-left p{
        text-align: center;
        width: 100%;
    }
}
/* fourth section end  */

 /* text start  */
.text{
    color: #302f33;
    text-align: center;
}
.text h5{
    color: #5f36d5;
    font-size: 23px;
    font-weight: 300;
}
.text h1{
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
}


/* text end  */


/* second last section start  */





.last-section .images button.setup {
    margin-right: 10px; /* Add margin between buttons */
}
@media screen and (max-width:1000px) {
    .second-last .card-body{
        margin-top: 12%;
    }
}
.second-last-heading{
    color: #302f33;
    text-align: center;
}
.second-last-heading h2{
    font-weight: 500;
    color: #5f36d5;
    font-size: 15px;
    margin-bottom: 1%;
}
.second-last-heading h1{
    font-size: 40px;
}

.card-body{
    background-color: white;
    width: 250px;
    box-shadow: 0px 0px 3px 5px rgba(0, 0, 0, 0.1);
    border-top: 5px solid #5f36d5;
    margin-top: 2%;
}
.card-content h2 {
    color: #302f33;
    text-align: center;
    font-size: 15px;
}
.card-content{
    padding: 20px;
}
.card-content p{
    text-align: justify;
    margin-top: 7%;
    color: gray;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    padding: 5px;
}
.card-img img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    display: block;
    margin: auto;
    margin-top: -50px;
}
.second-last{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5% ;
    margin-top: 5%;
    margin-bottom: 2%;
}
.scrollable-text {
    max-height: 100px;
    border-radius: 10px;
    overflow: auto;
}
@media screen and (max-width:700px) {
    .last-section .images h1{
        font-size: 20px;

    }
   .last-section .twobtn .setup{
        padding: 10px;
        color: #fff;
        border: none;
        border-radius: 5px;
        background-color: #5f36d5;
        width:100px;
        cursor: pointer;
    }
    .twobtn{
        display: flex;display: block;
        align-self: center;
    }
   
   .last-section .twobtn .join{
    margin-top: 5px;
        padding: 10px;
        color: #5f36d5;
        border: none;
        border-radius: 5px;
        background-color: #ffffff;
        width: 100px;
        cursor: pointer;
    }
    
}
.twobtn .setup{
    padding: 15px;
    color: #fff;
    border: none;
    border-radius: 10px;
    background-color: #5f36d5;
    width: 150px;
    cursor: pointer;
}
.twobtn .join{
    padding: 15px;
    color: #5f36d5;
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    width: 150px;
    cursor: pointer;
}


/* second last section end  */

/* last section start  */
.last-section .images {
    background-image: url('images/background.png');
    background-size: cover; 
    color: white; 
    text-align: center;
    padding: 40px;
    padding: 40px;
    border-radius: 40px;
}

.last-section .images button.setup {
    margin-right: 10px; /* Add margin between buttons */
}
.last-section{

    width: 70%;
    align-items: center;
    margin: auto;
    text-align: center;
    display: block;
}
.last-section h1{
    color: #fff;
    font-size: 50px;
}
.twobtn{
    margin-top: 5%;
 
}
.final-section{
    color: #302f33;
    margin-top: 2%;
    text-align: center;
}
.final-section h1{
 font-size: 50px;   
}

.final-section h2{
    font-size: 40px;
    color: #5f36d5;
}
.final-section p{
    margin-top: 1%;
    color: gray;
    font-size: 18px;
}
.footer h2 {
    color: gray;
    font-size: 15px;
 text-align: center;
 margin-top: 30px;
 padding: 10px 0px 30px 0px; 
}
/* last section end  */